.H1{
    
font-size: 20px;
font-weight: 700;
line-height: 20px;
text-align: left;
color: #000000;

}
/* .table{
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.25px;
text-align: left;

} */
.table-row{
    background: #F3F6FD;

}
.flex-container{
    display: flex;
    flex-direction: row;
}
/* .cards {
    display: flex;
}
.card {
    margin: 6px;
    width: 250px;
    height: 134px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    border-radius: 50px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
   } */